.image-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.nasa-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.nasa-overlay-img {
  position: absolute;
  width: auto;
  height: 100%;
  z-index: 2;
}

.arrows {
  height: 25px;
  width: 25px;
  border: 1px black solid;
}

.arrow-container {
  z-index: 98;
}
.random-button {
  z-index: 99;
}

/* .arrows:hover {
} */

.left {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 50%;
}

.right {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 50%;
}

.bottom {
  position: absolute;
  z-index: 3;
  bottom: 0;
  transform: rotate(90deg);
  left: 50%;
  right: 50%;
}

.panel {
  z-index: 4;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  transition: all 1s;
}

.panel:hover {
  background-color: white;
}

.hide {
  display: none;
}

.text {
  width: 15%;
  color: white;
  font-size: 20px;
  background-color: rgba(128, 128, 128, 0.199);
  position: absolute;
  z-index: 3;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.pos1 {
  top: 15%;
  left: 7%;
}

.pos2 {
  top: 15%;
  left: 30%;
}

.pos3 {
  top: 15%;
  left: 60%;
}

.pos4 {
  top: 15%;
  left: 75%;
}

.pos5 {
  top: 35%;
  left: 7%;
}

.pos6 {
  top: 35%;
  left: 30%;
}

.pos7 {
  top: 35%;
  left: 60%;
}

.pos8 {
  top: 35%;
  left: 75%;
}

.pos9 {
  top: 55%;
  left: 7%;
}

.pos10 {
  top: 55%;
  left: 30%;
}

.pos11 {
  top: 55%;
  left: 75%;
}
