.image-container {
  /* display: flex; */
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.nasa-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.arrows {
  height: 25px;
  width: 25px;
}

/* .arrows:hover {
} */

.left {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 50%;
}

.right {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 50%;
}

.bottom {
  position: absolute;
  z-index: 3;
  bottom: 0;
  transform: rotate(90deg);
  left: 50%;
  right: 50%;
}

.panel {
  z-index: 4;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  transition: all 1s;
}

.panel:hover {
  background-color: white;
}

.hide {
  display: none;
}
/* 
.sidenav-container {
  height: 100%;
}

mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: white;
  width: 200px;
}

.sidenav-button {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 25%;
} */

.pos1 {
  width: 15%;
  color: white;
  background-color: rgba(128, 128, 128, 0.418);
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 3;
}

.pos2 {
  width: 15%;
  color: white;
  background-color: rgba(128, 128, 128, 0.418);
  position: absolute;
  top: 33%;
  left: 57%;
  z-index: 3;
}

.pos3 {
  width: 15%;
  color: white;
  background-color: rgba(128, 128, 128, 0.418);
  position: absolute;
  top: 27%;
  left: 48%;
  z-index: 3;
}

.pos4 {
  width: 15%;
  color: white;
  background-color: rgba(128, 128, 128, 0.418);
  position: absolute;
  top: 33%;
  left: 35%;
  z-index: 3;
}

.pos5 {
  width: 15%;
  color: white;
  background-color: rgba(128, 128, 128, 0.418);
  position: absolute;
  top: 26%;
  left: 36%;
  z-index: 3;
}

.pos6 {
  width: 15%;
  color: white;
  background-color: rgba(128, 128, 128, 0.418);
  position: absolute;
  top: 33%;
  left: 44%;
  z-index: 3;
}

.pos7 {
  width: 15%;
  color: white;
  background-color: rgba(128, 128, 128, 0.418);
  position: absolute;
  top: 27%;
  left: 59%;
  z-index: 3;
}

.pos8 {
  width: 15%;
  color: white;
  background-color: rgba(128, 128, 128, 0.418);
  position: absolute;
  top: 31%;
  left: 40%;
  z-index: 3;
}

.pos9 {
  width: 15%;
  color: white;
  background-color: rgba(128, 128, 128, 0.418);
  position: absolute;
  top: 33%;
  left: 32%;
  z-index: 3;
}

.pos10 {
  width: 15%;
  color: white;
  background-color: rgba(128, 128, 128, 0.418);
  position: absolute;
  top: 26%;
  left: 39%;
  z-index: 3;
}

/* .text {
  width: 15%;
  color: white;
  background-color: rgba(128, 128, 128, 0.418);
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
} */
