<div class="image-container">
  <img class="nasa-img" src="{{ apod?.url }}" alt="nasa pic of the day" />
  <div class="text">
      <p>{{ apod?.explanation }}</p>
  </div>
</div>
<div class="arrow-container">
  <object
    class="left arrows"
    type="image/svg+xml"
    data="./assets/left-arrows.svg"
    alt=""
  ></object>
  <object
    class="right arrows"
    type="image/svg+xml"
    data="./assets/right-arrows.svg"
    alt=""
  ></object>
  <object
    class="bottom arrows"
    type="image/svg+xml"
    data="./assets/left-arrows.svg"
    alt=""
  ></object>
</div>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened"> 
    <mat-sidenav-content>
      <button class="sidenav-button" (click)="sidenav.toggle()">Toggle</button>
      <app-synth>

      </app-synth>
    </mat-sidenav-content>
  </mat-sidenav>
</mat-sidenav-container>


