.image-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.nasa-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.nasa-overlay-img {
  position: absolute;
  width: auto;
  height: 100%;
  z-index: 2;
}

.arrows {
  height: 25px;
  width: 25px;
}

/* .arrows:hover {
} */

.left {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 50%;
}

.right {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 50%;
}

.bottom {
  position: absolute;
  z-index: 3;
  bottom: 0;
  transform: rotate(90deg);
  left: 50%;
  right: 50%;
}

.panel {
  z-index: 4;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  transition: all 1s;
}

.panel:hover {
  background-color: white;
}

.hide {
  display: none;
}

.text {
  width: 15%;
  color: white;
  background-color: rgba(128, 128, 128, 0.418);
  position: absolute;
  z-index: 3;
}

.pos1 {
  top: 30%;
  left: 30%;
}

.pos2 {
  top: 33%;
  left: 57%;
}

.pos3 {
  top: 27%;
  left: 48%;
}

.pos4 {
  top: 33%;
  left: 35%;
}

.pos5 {
  top: 26%;
  left: 36%;
}

.pos6 {
  top: 33%;
  left: 44%;
}

.pos7 {
  top: 27%;
  left: 59%;
}

.pos8 {
  top: 31%;
  left: 40%;
}

.pos9 {
  top: 33%;
  left: 32%;
}

.pos10 {
  top: 26%;
  left: 39%;
}
