<div class="image-container">
  <img class="nasa-img" src="{{ apod?.url }}" alt="nasa pic of the day" />
</div>
<div class="arrow-container">
  <object
    class="left arrows"
    type="image/svg+xml"
    data="./assets/left-arrows.svg"
    alt=""
  ></object>
  <object
    class="right arrows"
    type="image/svg+xml"
    data="./assets/right-arrows.svg"
    alt=""
  ></object>
  <object
    class="bottom arrows"
    type="image/svg+xml"
    data="./assets/left-arrows.svg"
    alt=""
  ></object>
</div>
<app-synth></app-synth>
