<body>
  <div class="head">
    <p>Welcome to</p>
    <img class="globe-logo" src="./assets/globe-logo-large.png" alt="" />
  </div>
  <p>Take some time to learn about the cosmos!</p>
  <p>
    Use the buttons above to navigate through a 5+ year archive of NASA photos
    and accompanying descriptions.
  </p>
  <p>
    The panel below allows you to create an ambient soundscape to accompany your
    journey through space.
  </p>
  <p>Press "start" to activate the sound generator.</p>
  <p>
    Hover over each parameter for a brief description of its function, or just
    dive in!
  </p>
  <br />

  <p class="credit">
    This site developed by Joseph Sardashti, Clint Langwell, and Gabe Tarrant as
    a Grand Circus Bootcamp Final Project, Dec. 2020
  </p>
</body>
