<body>
  <div class="head">
    <p>Welcome to</p>
    <img class="globe-logo" src="./assets/globe-logo-large.png" alt="" />
  </div>
  <div class="main">
    <p>Take some time to learn about the cosmos!</p>
    <p>
      Navigate through a 5+ year archive of NASA photos and accompanying
      descriptions using the <span class="link">buttons above.</span>
    </p>
    <p>
      The <span class="link">panel below</span> allows you to create an ambient
      soundscape to accompany your journey through space.
    </p>
    <p>
      Press <span class="link">"start"</span> to activate the sound generator.
    </p>
    <p>
      Hover over each parameter for a brief description of its function. Load a
      patch to hear what others have come up with, or just
      <span class="link">dive in!</span>
    </p>
  </div>
  <br />

  <p class="credit">
    This site developed by
    <a
      class="link"
      href="https://www.linkedin.com/in/jsardashti/"
      target="_blank"
      >Joseph Sardashti</a
    >,
    <a
      class="link"
      href="https://www.linkedin.com/in/clintlangwell/"
      target="_blank"
      >Clint Langwell</a
    >, and
    <a class="link" href="https://www.linkedin.com/in/gabe-t/" target="_blank"
      >Gabe Tarrant</a
    >
    as a Grand Circus Bootcamp Final Project, Dec. 2020
  </p>
  <p class="credit">
    Synth component made using Tone.js and Tonal.js libraries. Huge thank you to
    Dan Tramte and David Bouchard for their helpful tutorials.
  </p>
  <p class="credit">
    For more info on NASA's Astronomy Picture Of The Day, follow
    <a
      class="link"
      href="https://apod.nasa.gov/apod/lib/about_apod.html"
      target="_blank"
      >this link!</a
    >
  </p>
</body>
